<!DOCTYPE html>
<html>
  <head>
  <style type = "text/css">

                body {
                                height: 100%;
                                margin: 0;
				background:#dcdcdc;

                                padding: 0;
                     }
 		#Title { margin-top : 80px;
			 color:#00008b;
                        font-size: 80px;
                        font-weight: bold;}


                .input{
                  border: 3px solid black;
                  border-radius: 10px; margin : 10px 400px 0px 600px;
                  font-size : 17px;
                  outline-style: none;
                }


                 .btn {
                    background: #696969;
                    margin-left:  750px;
                    margin-top : 20px;
                    -webkit-border-radius: 10;
                    -moz-border-radius: 10;
                    border-radius: 10px;
                    font-family: Arial;
                    color: #ffffff;
                    font-size: 13px;
                    padding: 10px 20px 10px 20px;
                    outline-style: none;

                  }
                  #Map {
                        width: 1040px;
                        margin: 0px auto;
                        padding: 10px;
                      }


  </style>




<meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">  
  <script src="/javascripts/jquery-1.11.3.min.js"></script>
  <script>
  $(function(){
        $("#CHECK").click(
      function(){
	 var sId=$("#SId").val();
	 var pwd=$("#pwd").val();
	 $pwdLen = $("#pwd").val().length; 
	//비밀번호가 12자리 미만일경우
	if(sId==pwd){
		     alert("변경하려는 비밀번호는 학번일 수 없습니다.");
		     return;
		}	
	if($pwdLen==0) {
		     alert("비밀번호는 공백일 수 없습니다.");
		     return;
		}

	if($pwdLen <  12) {
		if($("#pwd").val()==$("#checkpwd").val()){
                       alert('비밀번호가 성공적으로 변경되었습니다');
                        $("#PASSWORD").submit();
                 }

              else {

                alert('비밀번호가 다릅니다');

                        return;
                }

 	} //여기까지

		//아닌경우
       else{
	        alert('비밀번호는 12자리 미만이여야 합니다');
	                return;
       }
}






     
      );

});


</script>


</head>

<body>

 <form id="PASSWORD" action="/password" method="post">
 <div id="Map"> 
  <h1 id="Title">비밀번호 변경 페이지</h1>
        <% var SId = StudentID; %>
                        <form>
				<input type="hidden" id="SId" name="SId" value = <%=SId%> <br/>

                                <input type="password" class="input" id="pwd" name="pwd" size="28"  style="height:40px" placeholder="비밀번호"/><br/>

                                <input type="password" class="input" id="checkpwd" name="checkpwd" size="28"  style="height:40px" placeholder="비밀번호 확인"/><br/>

                                <input type="button" class="btn" id="CHECK" name="join"  value="변경" />

                 </form>

  </div>

</body>
</html>
